<template name="aboutContent">
	<div class="contain">
		<div class="content-box about">
			<div class="row">
				<div class="small-12 medium-10 medium-centered md-panel columns green">
					<div id="tabs">
  						<ul>
    						<li><a href="#fragment-1">Bio</a></li>
    						<li><a href="#fragment-2">Name</a></li>
    						<li><a href="#fragment-3">Inspiration</a></li>
    						<li><a href="#fragment-4">Construction</a></li>
    						<li><a href="#fragment-5">Philosophy</a></li>
  						</ul>
  					<div id="fragment-1">
    					<p>
    						<img class="first-image" src="images/About/about-bio.jpg">
    						Welcome! I'm Hilary Lee, the owner and founder of Irmen + Steele. I'm a front end web developer, lawyer, and jack-of-all trades. In addition to founding Irmen + Steele, I designed and built its website. I started Irmen + Steele in 2011, when I discovered a love of designing and building furniture. My interest was sparked when I was serving as the stage manager for the law school musical, Wigmore Follies, at Northwestern University School of Law.
    					</p>
    					<p>
    						As stage manager, I had access to a wood shop and tools, from which I built the sets for the musical. One morning, during this time, the coffee table in my apartment collapsed. It was a cheap Ikea table, and considering that I got nearly three years out of a piece of furniture that I spent barely $100 on, I wasn't very sad at its demise. Still, it occurred to me, while I was staring at the broken pieces littering my living room floor, that it was silly to spend that same money on another piece of furniture that would just collapse in the same fashion in a few years. Why not just teach myself how to build furniture instead?
    					</p>
    					<p>
    						<img class="second-image" src="images/About/about-bio-2.jpg">
    						And so I began this strange adventure. Initially, I worked only with wood, purchasing material from a company that salvaged buildings in Chicago. After a year, I learned how to weld and added metal working to my skillset. I began to sell my furniture in late 2012, after a request from a friend for a custom coffee table. On this site you will find examples of <a href="/furniture">furniture</a> that I have built, pending <a href="/designs">designs</a> that I am working on, an on-going <a href="/activity">feed</a> of my latest work in the shop, and links to my <a href="/shop">stores</a>. Take a look around, and if you have any questions or would like to discuss a custom piece, feel free to <a href="/contact">get in touch</a>.
    					</p>
    				</div>
  					<div id="fragment-2">
    					<p>
    						<img class="first-image" src="images/About/about-name-1.jpg">
    						Irmen + Steele is named for two of my great-grandparents on my mother's side, Matthew N. Irmen (pictured - middle, right) and Ada May Steele. I selected the name both because of the way the word "Steele" echoes one of the primary materials that I work with, as well as in recognition of my heritage.
    					</p>
    					<p>
    						My great-grandparents were the children of immigrants. Matthew's family hailed from Remich, Luxembourg, while Ada May's family immigrated from Ireland. Born in 1895, in Minneapolis, Minnesota, Matthew N. Irmen was the youngest of 15 children. Matthew came from a family that valued both education and hard work, which extended to all members of the family. Matthew's sister, Louise, became the first woman in my family to graduate from college, earning a degree from the University of Minnesota in 1908. During the 1930s, Matthew worked as a machinist, and I like to think that I inherited some of my love of working with metal from him.
    					</p>
    					<p>
    						<img class="second-image" src="images/About/about-name-2.jpg">
    						Matthew and Ada raised four children, the second eldest of whom was my grandmother, Beatrice (pictured - middle, left). "Grammy" Bea always encouraged me to pursue both a formal education as well as diverse hobbies, such as my furniture business. Bea died in 2009, before I was able to officially start my company, but I like to think that she would be proud of my work and that I named the company as I did.
    					</p>
  					</div>
  					<div id="fragment-3">
    					<p>
    						<img class="first-image" src="images/About/about-inspiration-1.jpg">
    						I'm often asked where I get the ideas for the pieces that I build. The answer is: many places. In some cases, I'm inspired by existing pieces of furniture. In these cases, I like to take ideas that I see and iterate on them, to change and improve them, or incorporate them into new designs. Sometimes this is a matter of scale or placement, in other instances it's about changing the underlying materials. 
    					</p>
    					<p>
    						An example of this is my Dakota table. I am not the first person to incorporate a live edge slab into a coffee table, but in coming up with my design I decided to see if it was possible to suspend such a slab within a metal frame. After quite a bit of trial and error, I managed to accomplish it by using high tensile nylon wire. The end result is a slab that appears to float in the middle of its frame, while still being capable of supporting 150 lbs.
    					</p>
    					<p>
    						<img class="second-image" src="images/About/about-inspiration-2.jpg">
    						Most of the time, however, my inspiration comes from my environment. Many of my pieces echo architectural details that I have seen during the course of my travels. Several of my upcoming designs, including the "stacked" table and the "brace" table are based directly off of buildings, the exterior of a town house in the former case, and the steel supports of the "L" tracks in downtown Chicago in the latter. I am also working on a set of tables based off of the profiles of famous steel bridges, from the bridges spanning the Chicago river to the Bay Bridge that connects San Francisco and Oakland, CA.
    					</p>
  					</div>
  					<div id="fragment-4">
    					<p>
    						<img class="first-image" src="images/About/about-construction-1.svg">
    						My construction process begins with a sketch. While I'm considering a new design, I'll play with proportion and arrangement of materials. Once I'm satisfied with an initial idea, I'll create a model of the design in SketchUp. You can see some example wireframes that I've built on the <a href="/design">designs</a> page.
    					</p>
    					<p>
    						Once I'm satisfied with my model, I'll select and source the required materials. I buy most of my metal online, from Online Metals. The wood that I purchase comes from three primary sources: Horrigan Urban Forest Products (local domestic lumber), the Rebuilding Exchange (reclaimed wood), and Bell Forest Products (non-local and exotic species). My patination and metal finishing supplies are sourced from Sculpt Nouveau.
    					</p>
    					<p>
    						<img class="second-image" src="images/About/about-construction-2.jpg">
    						When it's time to build my pieces, I work out of two locations. My woodshop is located in a hackerspace in Chicago called Pumping Station One. A hackerspace is a collection of individuals that join together to collaborate on the purchasing and maintanence of equipment for a variety of projects, from electronics, to 3D Printing, to woodworking. I also do some light metalwork at PS:One, though the majority of my welding occurs at the Arc Academy, a metal shop in Chicago's Ukranian Village neighborhood. Once finished, any items that aren't custom pieces are then sold in my Etsy and Custom Made shops.
    					</p>
  					</div>
  					<div id="fragment-5">
    					<p>
    						<img class="first-image" src="images/About/about-philosophy.jpg">
    						I started Irmen + Steele because I believe that owning nice furniture shouldn't be a luxury. I know many people who stock their homes with cheap particle board furniture from a big box store. Of course, as a former starving graduate student, I also know that owning custom furniture is sometimes impractical. The fact is, many people believe that attractive, well-built furniture needs to cost an arm and a leg. That simply isn't true.
    					</p>
    					<p>
    						There are plenty of builders out there (of which I am just one) who produce great pieces that can be had for only a bit more than what you can spend in an Ikea store, and which will last many years more if properly cared for. So, the next time you're shopping for furniture, ask yourself whether it's worth it to have to constantly replace furniture that breaks because it isn't well built, or whether you would rather invest in something that will stand the test of time.
    					</p> 
  					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>