<template name="about">
	<div class="contain">
		<div class="content-box about">
			<div class="row">
				<div class="small-12 medium-7 md-panel columns green">
					<div id="tabs">
  						<ul>
    						<li><a href="#fragment-1">One</a></li>
    						<li><a href="#fragment-2">Two</a></li>
    						<li><a href="#fragment-3">Three</a></li>
  						</ul>
  					<div id="fragment-1">
    					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  					</div>
  					<div id="fragment-2">
    					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  					</div>
  					<div id="fragment-3">
    					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  					</div>
				</div>
				</div>
				<div class="small-12 medium-4 md-panel columns end green">
					<div class="row">
						<div class="small-11 small-centered columns">
								<img class="first-image" src="/images/about-name-1.jpg">
								<p>Test</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>