<template name="activity">
	<div class="contain">
		<div class="content-box activity">
			<div class="row">
				<div class="small-12 large-3 columns md-panel green">
					<div class="row">
						<div class="small-12 small-centered columns profile">
							<img src="/images/activity.jpg"/>
							<p><span><a href="http://instagram.com/hmlee2008?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a></span> hmlee2008</p>
						</div>
					</div>
					<div class="row">
						<div class="small-12 small-centered columns feed-info">
							<p>As I build new items, I post photos to my instagram account. See the latest updates to the right, or follow me by clicking on the instagram icon above.</p>
						</div>
					</div>
				</div>
				<div class="small-12 medium-10 medium-centered large-uncentered large-8 columns md-panel green">
					<div class="row">
						<p class="mobile-desc">As I build new items, I post photos to my instagram account. See the latest updates below.</p>
						<div class="small-12 small-centered columns feed">
							<ul class="small-block-grid-2 medium-block-grid-4 activity-list">

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>