<template name="designsContent_phone">
	<div class="contain mobile-design">
		<div class="row">
			<div class="small-12 columns md-panel">
				<div class="ui-front">
						<select name="designs-menu" id="designs-menu">
							<option value="Stacked Coffee Table">Stacked Coffee Table</option>
							<option value="W-Frame Coffee Table">W-Frame Coffee Table</option>
							<option value="Brace Table">Brace Table</option>
							<option value="Panel Bookcase">Panel Bookcase</option>
							<option value="Perforated Shelf">Perforated Shelf</option>
						</select>
						
				</div>
				<div class="small-12 medium-8 md-panel columns">
						<div id="design-pad">
						<h2>Upcoming Designs</h2>
						</div>
						<p>See something you like? <a href="/contact">Get in touch</a> with me to discuss ordering one of these designs, or any custom piece.</p>
				</div>
			</div>
		</div>
	</div>
</template>