<template name="designsContent">
	<div class="contain">
			<div class="content-box designs">
				<div class="row">
					<div class="small-12 medium-3 md-panel columns">
						<h2>Upcoming Designs</h2>
						<ul id="design-menu">
							<li title="stackedtable2" class="stackedtable design-menu-item">Stacked Coffee Table &raquo;</li>
							<li title="Wtable2" class="Wtable design-menu-item">W-frame Coffee Table &raquo;</li>
							<li title="channeltable2" class="channeltable design-menu-item">Brace Table &raquo;</li>
							<li title="panelbookcase2" class="panelbookcase design-menu-item">Panel Bookcase &raquo;</li>
							<li title="perforatedshelf4" class="perforatedshelf2 design-menu-item">Perforated Metal Shelf &raquo;</li>
						</ul>
						<p>See something you like? <a href="/contact">Get in touch</a> with me to discuss ordering one of these designs, or any custom piece.</p>
					</div>
					<div class="small-12 medium-8 md-panel columns end">
						<div id="design-pad">
						</div>
					</div>
				</div>
			</div>
		</div>
</template>