<template name="furniture">
	<div class="contain">
		<div class="content-box">
			<div class="row">
				<div class="small-12 large-3 md-panel columns">
					<div id="accordion">
  						<h3>Dining</h3>
  						<div>
  							<ul class="small-block-grid-3">
  							{{# each dining}}
  								<li><img src="{{thumb}}"/></li>
  							{{/each}}
  							</ul>
						</div>
						<h3>Living</h3>
						<div>
							<ul class="small-block-grid-3">
  							{{# each living}}
  								<li><img src="{{thumb}}"/></li>
  							{{/each}}
  							</ul>
						</div>
						<h3>Kitchen</h3>
						<div>
							<ul class="small-block-grid-3">
  							{{# each kitchen}}
  								<li><img src="{{thumb}}"/></li>
  							{{/each}}
  							</ul>
						</div>
						<h3>Office</h3>
						<div>
							<ul class="small-block-grid-3">
  							{{# each office}}
  								<li><img src="{{thumb}}"/></li>
  							{{/each}}
  							</ul>
						</div>
					</div>
				</div>
				<div class="small-12 large-6 md-panel columns center-panel">
						<img class="featured" src="images/Owen-Dining-X-Large.jpg"/>
				</div>
				<div class="small-12 large-3 md-panel columns end">
					<h2>Name:</h2>
					<p class="name">Owen Dining Table</p>
					<h2>Dimensions:</h2>
					<p class="dimensions">34" W x 50" L x 30" H</p>
					<h2>Stock:</h2>
					<p class="stock">8/4 (2" thick) ash, 1.25" square steel tubing</p>
					<h2>Description:</h2>
					<p class="description">The top of the Owen Dining Table is made from two planks of reclaimed ash from the Chicago forest. The outer planks were harvested from a tree felled by a lightning strike in 2012. Ash wood has become increasingly rare in the Chicago area as much of the local growth has been decimated by the Emerald Ash Borer, an exotic beetle that first appeared in the United States in 2002 and has killed tens of millions of trees since.</p>
				</div>
			</div>
		</div>
	</div>
</template>