<template name="furniture">
	<div class="contain">
		<div class="content-box">
			<div class="row">
				<div class="small-12 large-4 md-panel columns">
					<div id="accordion">
  						<h3>Living</h3>
  						<div>
  							<div class="row">
  							{{# each living}}
  							<div class="small-4 columns">
  								<img src="{{thumb}}"/>
  							</div>
  							{{/each}}
  							</div>
						</div>
						<h3>Dining</h3>
						<div>
							<div class="row">
							{{#each dining}}
							<div class="small-4 columns">
								<img src="{{thumb}}"/>
							</div>
							{{/each}}
							</div>
						</div>
						<h3>Office</h3>
						<div>
							<div class="row">
							{{#each office}}
							<div class="small-4 columns">
								<img src="{{thumb}}"/>
							</div>
							{{/each}}
							</div>
						</div>
						<h3>Kitchen</h3>
						<div>
							<div class="row">
							{{#each kitchen}}
							<div class="small-4 columns">
								<img src="{{thumb}}"/>
							</div>
							{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div class="small-12 large-4 md-panel columns">
					<div class="row">
						<div class="small-12 columns">
							<img class="featured" src="http://placehold.it/300x550"/>
						</div>
					</div>
				</div>
				<div class="small-12 large-4 md-panel columns end">
					<h2>Name:</h2>
					<p class="name"></p>
					<h2>Dimensions:</h2>
					<p class="dimensions"></p>
					<h2>Stock:</h2>
					<p class="stock"></p>
					<h2>Description:</h2>
					<p class="description"></p>
				</div>
			</div>
		</div>
	</div>
</template>