<template name="shop">
	<div class="contain">
		<div class="content-box shop">
			<div class="row">
				<div class="small-12 medium-9 medium-centered columns md-panel green">
					<h3>Shop Irmen + Steele on:</h3>
					<div class="small-12 medium-4 medium-offset-2 columns">
						<img class="cm-logo" src="/images/custommade2.png">
						<img class="cm-logo-text" src="/images/custommade.png">
						<p>Medium and large pieces, as well as custom orders (coming soon).</p>

					</div>
					<a href="https://www.etsy.com/shop/IrmenSteele" target="_blank"><div class="small-12 medium-4 end columns">
						<img class="etsy-logo" src="/images/etsy_logo_lg_white.png">
						<p>All currently available items, including small goods and housewares.</p>
					</div></a>
				</div>
			</div>
		</div>
	</div>
</template>